<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanmu.muwu.service.provider.user.mapper.PermissionPermissionCategoryRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fanmu.muwu.service.provider.user.model.domain.PermissionPermissionCategoryRelation">
        <result column="permission_id" property="permissionId" />
        <result column="permission_category_id" property="permissionCategoryId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        permission_id, permission_category_id
    </sql>

</mapper>
